;; shadow-cljs configuration
{:source-paths
 ["src"]
 
 :dependencies [[reagent "0.8.1"]]
 
 :builds {:main {:target :node-script
                 :output-to "resources/main.js"
                 :main frontend.main.core/main}
          
          :renderer {:target :browser
                     :output-dir "resources/public/js"
                     :asset-path "/js"

                     :modules {:renderer {:entries [frontend.renderer.core]}}
                     :devtools {
                                :http-root "resources/public"
                                :http-port 3000
                                :before-load frontend.renderer.core/stop
                                :after-load frontend.renderer.core/start}}}}
